// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.section_hero {
    @include default_vwh();
    @include flex_prop1();
    @include flex_center();

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.88) 11.6%, rgba(0, 0, 0, 0.458333) 65.01%, rgba(0, 0, 0, 0) 100%), url($herobg01);
    @include img_default();

    .flex_box {
        .flex_item {
            // width: 461px;
            @include flex_prop1();
            @include flex_center();

            h1 {
                width: 461px;
                font-size: 64px;
                line-height: 80px;
                text-align: center;
                font-weight: 400;
                color: white;

                &.hero_title02 {
                    width: 800px;
                }
            }

            button {
                width: 40%;
                height: 65px;
            }
        }
    }
}

.section_hero02 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.88) 11.6%, rgba(0, 0, 0, 0.458333) 65.01%, rgba(0, 0, 0, 0) 100%), url($herobg02);
    @include img_default();
}

.section_services {
    @include default_vwh();
    @include flex_prop2();
    @include flex_center();
    background: #F2F3F3;
    // Fix given Height of 100vh
    height: 100%;
    padding: 20px;

    .flex_box {
        @include flex_prop2();
        @include flex_center();
        gap: 40px;

        .flex_item {
            @include flex_prop2();
            @include flex_center();

            h2 {
                width: 500px;
                font-size: 48px;
                line-height: 59.52px;
                text-align: center;
                font-weight: 400;
                margin: 0;
            }

            &:last-child {
                width: 100%;
            }

            button {
                width: 160px;
                height: 60px;
                border-radius: 70px;
            }
        }

        // Image WxH = 800px x 493px

        .flex_box_nested {
            // Container for Services
            @include flex_prop2();
            width: 85vw;
            overflow: hidden;

            // Container for Items
            .flex_item {
                @include flex_prop1();
                flex-wrap: nowrap;

                // Image CSS
                .flex_img {
                    flex: 0 0 50%;
                    width: 100%;
                    height: 533px;

                    &:first-child {
                        background: url($servicebg01);
                        @include img_default();
                    }

                    &:nth-child(2) {
                        background: url($servicebg02);
                        @include img_default();
                    }
                }

                // Last Image needed
                &:last-child {

                    .flex_img {
                        background: url($servicebg03);
                        @include img_default();
                    }
                }

                .flex_subitem {
                    flex: 0 0 47.4%;
                    padding: 20px;
                    border: 1px solid $color1;
                    width: 100%;
                    height: 491px;

                    h2 {
                        text-align: left;
                    }

                    ul {
                        li {
                            @include flex_prop1();
                            width: 90%;
                            padding: 0 20px;
                            border-bottom: 1px solid $color1;
                            list-style: none;

                            &:first-child{
                                border-top: .5px solid $color1;
                            }

                            span:first-child{
                                flex: 0 0 90%;
                            }

                            span:last-child{
                                flex: 0 0 10%;
                            }
                            
                        }
                    }

                    p {
                        width: 66%;
                    }
                }

            }
        }
    }
}